[project]
	description = Web app to display sms auctions
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/pmaingi (pmaingi)
[access "refs/for/refs/*"]
	read = group user/pmaingi (pmaingi)
	push = group user/pmaingi (pmaingi)
	label-Code-Review = -2..+2 group user/pmaingi (pmaingi)
	label-Verified = -1..+1 group user/pmaingi (pmaingi)
	rebase = group user/pmaingi (pmaingi)
	removeReviewer = group user/pmaingi (pmaingi)
	submit = group user/pmaingi (pmaingi)
[access "refs/heads/*"]
	read = group user/pmaingi (pmaingi)
	create = group user/pmaingi (pmaingi)
	push = +force group user/pmaingi (pmaingi)
	pushMerge = group user/pmaingi (pmaingi)
[access "refs/tags/*"]
	push = +force group user/pmaingi (pmaingi)
	pushTag = group user/pmaingi (pmaingi)
	pushSignedTag = group user/pmaingi (pmaingi)
